<div class="artists-index-container">
    <h2>Tus Artistas Destacados</h2>

    <div class="featured-scroll">
        <div *ngFor="let artist of featuredArtists" class="artist-card-featured" [routerLink]="['/artists/profile', artist.id]">
            <div class="artist-avatar">
                <span>{{ artist.emoji }}</span>
            </div>
            <div class="artist-name">{{ artist.name }}</div>
            <div class="artist-genre">{{ artist.genre }}</div>
        </div>
    </div>

    <h3 class="section-title">Artistas Seguidos</h3>
    <div class="followed-scroll">
        <div *ngFor="let artist of followedArtists" class="artist-card-followed" [routerLink]="['/artists/profile', artist.id]">
            <div class="artist-avatar-small">
                <span>{{ artist.emoji }}</span>
            </div>
            <div class="artist-name-small">{{ artist.name }}</div>
        </div>
    </div>
</div>
